.nav {
  grid-area: myArea;
  box-shadow: 0 0 5px 0;
  height: 4.3em;
  background-color: #f7fbfe;
  display: flex;
  align-items: center;
  z-index: 1;
  width: 100%;
}

.menu-btn{
  cursor: pointer;
  width: 3em;
  margin-left: 0.5em;
}

.side {
  position: relative;
  left: 0;
  grid-area: myArea2;
  border: 1px solid;
  height: 89vh;
  max-width: 14.5em;
  background-color: #f7fbfe;
  transition: all 1s ease;
}
.side1 {
  position: absolute;
  top: 4.3em;
  left: -15em;
  grid-area: myArea2;
  border: 1px solid;
  height: 89vh;
  background-color: #f7fbfe;
  transition: all 1s ease;
}

.dash {
  width: 100%;
  grid-area: myArea3;
  height: 89vh;
  background-color: #f7fbfe;
  overflow: auto;
  scroll-behavior: smooth;
}

.app-container {
  display: grid;
  grid-template-areas:
  'myArea myArea myArea'
  'myArea2 myArea3 myArea3';
  grid-template-columns: auto 4fr;
  transition: all 1s ease;
}
.app-container1 {
  display: grid;
  grid-template-areas:
  'myArea'
  'myArea3';
  grid-template-columns: auto;
  transition: all 1s ease;
}

.toTop {
  visibility: hidden;
  opacity: 0;
  width: 1.5em;
  height: 1.5em;
  border: 3px solid black;
  border-radius: 10em;
  padding: 0.8em;
  position: absolute;
  bottom: 2em;
  right: 3.5em;
  background-color: white;
  cursor: pointer;
  transition: all 1s ease;
}
.toTop1 {
  visibility: visible;
  opacity: 1;
  width: 1.5em;
  height: 1.5em;
  border: 3px solid black;
  border-radius: 10em;
  padding: 0.8em;
  position: absolute;
  bottom: 2em;
  right: 3.5em;
  background-color: white;
  cursor: pointer;
  transition: all 1s ease;
}


/* Main Component styling */
.main-container {
  padding: 15px;
  border: 2px solid;
  margin: 1em;
  border-radius: 0.5em;
}
.main-container .nav-section{
  padding: 0.2em 1em;
  background-color: rgb(255, 244, 228);
  box-shadow: 0 0 5px 0;
  border-radius: 0.25em;
}


.main-container h1{
  font-size: 2.5em;
  text-align: center;
  font-style: italic;
  margin-top: 0.2em;
  padding: 0.2em 0;
  background-color: rgba(227, 228, 239, 0.943);
  box-shadow: 0 0 5px 0;
  border-radius: 0.1em;
}
.main-container p{
  font-size: 1.5em;
  text-align: justify;
}
.main-container li{
  line-height: 1.5;
  font-size: 1.5em;
}
.main-container a{
  text-decoration: none;
  /* color: rgba(42, 104, 137, 0.943); */
  color: rgba(17, 122, 113, 0.993);
}
.main-container img{
  width: 100%;
  border: 1px solid;
  transform: scale(0.96);
}
.main-container code{
  background-color: rgb(228, 228, 241);
  padding: 0.12em;
}

.main-container table{
  width: 100%;
}
.main-container table th,td{
  text-align: left;
  padding: 0.5em;
  border: 1px solid ;
  font-size: 1.3em;
}
.main-container footer{
  text-align: center;
  font-size: 1.5em;
  background-color: rgba(227, 228, 239, 0.943);
  padding: 0.2em 0;
  box-shadow: 0 0 5px 0;
  border-radius: 0.1em;
  font-weight: bold;
}

@media screen and (max-width: 700px) {
  .main-container table th,
    td {
      font-size: 1.1em;
    }
  .app-container {
    display: grid;
    grid-template-areas:
      'myArea'
      'myArea3';
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .side {
    position: absolute;
    top: 4.3em;
    width: 15em;
    left: -15em;
    z-index: 1;
    border: 1px solid;
    height: 100vh;
    background-color: #f7fbfe;
    transition: all 1s ease;
  }
  .side1 {
    position: absolute;
    top: 4.3em;
    left: 0em;
    width: 15em;
    z-index: 1;
    border: 1px solid;
    height: 100vh;
    background-color: #f7fbfe;
    transition: all 1s ease;
  }

  .toTop,
  .toTop1 {
    right: 2em;
    bottom: 2em;
  }
}

